.shapes {
    svg {
        position: absolute;
        fill: white;
        opacity: 0.025;
        pointer-events: none;
    }

    .shape-1 {
        width: calc(20vw + 250px);
        top: -20vw;
        left: 10vw;
    }
}
