//////////////////////////////////////////////////
// Hero
//////////////////////////////////////////////////

.hero {
    height: calc(100vh - 50px);
    padding: 0 var(--p2);
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100%;
}

.hero-content {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        line-height: 1;
    }
    .desc {
        margin-left: 1rem;
        position: relative;
    }

    .cta {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

.hero-image {
    max-width: 400px;
    padding-left: 2rem;
}

//////////////////////////////////////////////////
// About
//////////////////////////////////////////////////

.home-about {
    position: relative;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 3fr;

    img {
        height: 100%;
        object-fit: cover;
    }

    .content {
        h2 {
            margin-left: 1rem;
        }
        padding: 120px 3rem;
        color: var(--bg-color);
    }
}

.divider {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
        fill: #1e202a;
    }

    &-top {
        top: 0;
    }

    &-bottom {
        bottom: 0;
        transform: rotate(180deg);
    }
}

//////////////////////////////////////////////////
// Tablet
//////////////////////////////////////////////////

@media (max-width: 979px) {
    .home-about {
        grid-template-columns: 1fr;

        img {
            min-height: 300px;
            margin: 0 auto;
        }

        .content {
            padding-top: 2rem;
        }
    }
}

//////////////////////////////////////////////////
// Mobile
//////////////////////////////////////////////////

@media (max-width: 768px) {
    .hero-wrapper {
        grid-template-columns: 1fr;
    }
    .hero-image {
        max-width: 350px;
    }
}
