//////////////////////////////////////////////////
// Hero
//////////////////////////////////////////////////

.hero {
    height: calc(100vh - 50px);
    padding: 0 var(--p2);
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100%;
}

.hero-content {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        line-height: 1;
    }
    .desc {
        margin-left: 1rem;
        position: relative;
    }

    .cta {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

.hero-image {
    max-width: 400px;
    padding-left: 2rem;
}

//////////////////////////////////////////////////
// About
//////////////////////////////////////////////////

.home-about {
    position: relative;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 3fr;

    img {
        height: 100%;
        object-fit: cover;
    }

    .content {
        h2 {
            margin-left: 1rem;
        }
        padding: 120px 3rem;
        color: var(--bg-color);
    }
}

.divider {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
        fill: #1e202a;
    }

    &-top {
        top: 0;
    }

    &-bottom {
        bottom: 0;
        transform: rotate(180deg);
    }
}

//////////////////////////////////////////////////
// Réalisations
//////////////////////////////////////////////////

.home-realisations {
    display: grid;
    grid-template-columns: 2fr 3fr;
    row-gap: 2rem;
    place-items: center;

    .description {
        padding: 0 3rem;
    }

    .realisations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3rem 0;

        .cta {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--white);
        }
    }
    .realisation {
        position: relative;
        height: 100%;
        .image {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
}

//////////////////////////////////////////////////
// Tablet
//////////////////////////////////////////////////

@media (max-width: 979px) {
    .home-about {
        grid-template-columns: 1fr;

        img {
            min-height: 300px;
            margin: 0 auto;
        }

        .content {
            padding-top: 2rem;
        }
    }
}

//////////////////////////////////////////////////
// Mobile
//////////////////////////////////////////////////

@media (max-width: 768px) {
    .hero-wrapper {
        grid-template-columns: 1fr;
    }
    .hero-image {
        max-width: 350px;
    }
}
