body {
    --bg-color: #1e202a;
    --nav-bg-color: #181b2c;
    //--home-lead-bg: #252a41;
    --home-button-bg: #16181f;
    --home-button-bg-hover: #101117;
    --pale-text-color: #8b97c6;
    --main-text-color: #e2e2e2;
    --card-bg: #252a41;
    --card-bg-hover: #394265;
    --green: #72dc72;
    --white: #f1f1f1;
    --orange: #f58620;

    --p2: calc(1rem + 1.5vw);
}

@mixin width-1200 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--p2);
}
