@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300&display=swap');

@import './variables';
@import './header';
@import './home';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: 'Nunito', sans-serif;
    color: #cacaca;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    position: relative;
}

h2 {
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-bottom: 0.8rem;
}

.orange-line:before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--orange);
}

main {
    margin-top: 50px;
}

@import './tip-card';
